@import 'normalize.css';
@import './css-shared/variables.css';
@import './css-shared/media-queries.css';
@import './css-shared/global.css';
@import './css-shared/typography.css';

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*temporary hack to make css-modules works with react-addons-css-transition-group*/
/*=====================================*/
:global .box-appear {
  opacity: .01;
  transform: translateY(-200%);
}

:global .box-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all .4s cubic-bezier(.8,-.7,.2,1.4);
}
/*=====================================*/
