@import './css-shared/variables.css';
@import './css-shared/media-queries.css';

.box {
  min-width: 300px;

  background-color: var(--indianBlue);
	border-radius: 2px;
	padding: 3em 2em;
  box-shadow: 3px 3px var(--yellow);
}

.bigValueSymbol {
  font-size: 4rem;
  padding-right: .2em;
}
.bigValue {
  line-height: .7;
  font-size: 9rem;
  text-align: center;
}

.containerMinMax {
  margin-top: .3em;

  display: flex;
  justify-content: space-between;
  font-size: 3rem;
}

.valueSymbol {
  font-size: 2rem;
  padding-right: .2em;
}

.meterContainer {
  margin-top: 3em;
  height: 150px;
  overflow: hidden;
}

.meter:before {
  content: '';
  background-color: var(--white);
  border-radius: 200px 200px 0 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.meter {
  position: relative;
  height: 100%;
  border-radius: 200px 200px 0 0;
}

.meter:after {
  content: '';
  background-color: var(--indianBlue);
  border-radius: 140px 140px 0 0;
  position: absolute;
  height: 85%;
  width: 85%;
  bottom: 0;
  left: 7.5%;
}


@media (--plus400) {
  .box {
    width: 390px;
  }
}
